In [5]:
import pandas as pd
import numpy as np
import os
from datetime import datetime

In [841]:
# df = pd.read_excel("Example File.xlsx")
# df.Date = pd.to_datetime(df.Date)  # converting date into
df1 = pd.read_excel("holidays.xlsx")

In [842]:
df = pd.read_excel("final_merged.xlsx")

In [838]:
df.Type.unique()

array([nan, 'State Holiday', 'Restricted Trading Day', 'Observance',
       'State Public Sector Holiday', 'Half Day Restricted Trading Day',
       'State Bank Holiday', 'Part Day Holiday', 'Public Holiday',
       'Season', 'National holiday', 'Half day holiday',
       'Working day on weekend', 'Common local holiday',
       'Observance, Christian', 'Silent Day',
       'Christian, Common local holiday', 'Observance, Hebrew',
       'Observance, Muslim', 'Local holiday',
       'Silent Day, public holiday', 'Restricted Holiday',
       'Gazetted Holiday', 'Observance, Hinduism', 'Hindu Holiday',
       'Joint Holiday', 'Bank holiday', 'Federal Territory Holiday',
       'Federal Public Holiday', 'Holiday Postponed',
       'Local Bank Holiday', 'Local observance', 'State holiday',
       'State Observation', 'State Legal Holiday',
       'State Government Holiday', 'COVID-19 Lockdown', 'Federal Holiday',
       'Half Day'], dtype=object)

In [635]:
df.to_excel('final_merged.xlsx', index=False)

In [835]:
dd.to_excel('temp.xlsx')

In [845]:
df.describe()

        Consumption       Holiday         Year
count  1.410800e+04  14108.000000  1188.000000
mean   6.203615e+04      0.042033  2019.861953
std    1.035399e+05      0.200671     0.763180
min    8.571429e-03      0.000000  2019.000000
25%    9.775721e+03      0.000000  2019.000000
50%    2.472149e+04      0.000000  2020.000000
75%    7.120852e+04      0.000000  2020.000000
max    1.101153e+06      1.000000  2021.000000

In [863]:
dfchina = df[df.Country=="China"].reset_index().drop(columns=['index'])

In [937]:
patches = []

for i in range(dfchina.shape[0]):
    if dfchina.loc[i].Holiday == 1:
        patch = dfchina.loc[i-10:i+10].reset_index().drop(columns=['index'])
        patches.append(patch)

In [939]:
patches[-1]

,Consumption,Country,Date,Holiday,Name,Type,Details,Year,Date_,WeekDay
0,53677.566857,China,2021-09-04,0,NaN,NaN,NaN,NaN,NaN,Saturday
1,36479.142000,China,2021-09-05,0,NaN,NaN,NaN,NaN,NaN,Sunday
2,68623.985000,China,2021-09-06,0,NaN,NaN,NaN,NaN,NaN,Monday
3,65017.498143,China,2021-09-07,0,NaN,NaN,NaN,NaN,NaN,Tuesday
4,51895.088571,China,2021-10-01,1,National Day,National holiday,NaN,2021.0,1 Oct,Friday
5,31572.148714,China,2021-10-02,1,National Day Golden Week holiday,National holiday,NaN,2021.0,2 Oct,Saturday
6,74937.627143,China,2021-10-03,1,National Day Golden Week holiday,National holiday,NaN,2021.0,3 Oct,Sunday
7,64210.644571,China,2021-10-04,1,National Day Golden Week holiday,National holiday,NaN,2021.0,4 Oct,Monday
8,29923.164286,China,2021-10-05,1,National Day Golden Week holiday,National holiday,NaN,2021.0,5 Oct,Tuesday
9,75868.555143,China,2021-10-06,1,National Day Golden Week holiday,National holiday,NaN,2021.0,6 Oct,Wednesday
10,91070.353143,China,2021-10-07,1,National Day Golden Week holiday,National holiday,NaN,2021.0,7 Oct,Thursday
11,31613.977143,China,2021-11-01,0,NaN,NaN,NaN,NaN,NaN,Monday
12,37225.817571,China,2021-11-02,0,NaN,NaN,NaN,NaN,NaN,Tuesday
13,76221.541000,China,2021-11-03,0,NaN,NaN,NaN,NaN,NaN,Wednesday
14,44686.504857,China,2021-11-04,0,NaN,NaN,NaN,NaN,NaN,Thursday
15,60497.327429,China,2021-11-05,0,NaN,NaN,NaN,NaN,NaN,Friday
16,59481.243143,China,2021-11-06,0,NaN,NaN,NaN,NaN,NaN,Saturday
17,53673.480143,China,2021-11-07,0,NaN,NaN,NaN,NaN,NaN,Sunday
18,48024.630000,China,2021-12-01,0,NaN,NaN,NaN,NaN,NaN,Wednesday
19,35906.851143,China,2021-12-02,0,NaN,NaN,NaN,NaN,NaN,Thursday
20,62013.924857,China,2021-12-03,0,NaN,NaN,NaN,NaN,NaN,Friday

In [940]:
patch

,Consumption,Country,Date,Holiday,Name,Type,Details,Year,Date_,WeekDay
0,53677.566857,China,2021-09-04,0,NaN,NaN,NaN,NaN,NaN,Saturday
1,36479.142000,China,2021-09-05,0,NaN,NaN,NaN,NaN,NaN,Sunday
2,68623.985000,China,2021-09-06,0,NaN,NaN,NaN,NaN,NaN,Monday
3,65017.498143,China,2021-09-07,0,NaN,NaN,NaN,NaN,NaN,Tuesday
4,51895.088571,China,2021-10-01,1,National Day,National holiday,NaN,2021.0,1 Oct,Friday
5,31572.148714,China,2021-10-02,1,National Day Golden Week holiday,National holiday,NaN,2021.0,2 Oct,Saturday
6,74937.627143,China,2021-10-03,1,National Day Golden Week holiday,National holiday,NaN,2021.0,3 Oct,Sunday
7,64210.644571,China,2021-10-04,1,National Day Golden Week holiday,National holiday,NaN,2021.0,4 Oct,Monday
8,29923.164286,China,2021-10-05,1,National Day Golden Week holiday,National holiday,NaN,2021.0,5 Oct,Tuesday
9,75868.555143,China,2021-10-06,1,National Day Golden Week holiday,National holiday,NaN,2021.0,6 Oct,Wednesday
10,91070.353143,China,2021-10-07,1,National Day Golden Week holiday,National holiday,NaN,2021.0,7 Oct,Thursday
11,31613.977143,China,2021-11-01,0,NaN,NaN,NaN,NaN,NaN,Monday
12,37225.817571,China,2021-11-02,0,NaN,NaN,NaN,NaN,NaN,Tuesday
13,76221.541000,China,2021-11-03,0,NaN,NaN,NaN,NaN,NaN,Wednesday
14,44686.504857,China,2021-11-04,0,NaN,NaN,NaN,NaN,NaN,Thursday
15,60497.327429,China,2021-11-05,0,NaN,NaN,NaN,NaN,NaN,Friday
16,59481.243143,China,2021-11-06,0,NaN,NaN,NaN,NaN,NaN,Saturday
17,53673.480143,China,2021-11-07,0,NaN,NaN,NaN,NaN,NaN,Sunday
18,48024.630000,China,2021-12-01,0,NaN,NaN,NaN,NaN,NaN,Wednesday
19,35906.851143,China,2021-12-02,0,NaN,NaN,NaN,NaN,NaN,Thursday
20,62013.924857,China,2021-12-03,0,NaN,NaN,NaN,NaN,NaN,Friday

In [979]:
pd.merge(dd[1], dd[2], 'inner').shape[0]

20

In [972]:
def get_holiday_patches():
    patches = []
    for i in range(dfchina.shape[0]):
        if dfchina.loc[i].Holiday == 1:
            patch = dfchina.loc[i-10:i+10].reset_index().drop(columns=['index'])
            patches.append(patch)
            try:
                print(pd.merge(patch, patches[-1], 'inner').shape[0])
                if pd.merge(patch, patches[-1], 'inner').shape[0] >= 16:
                    patches.remove(patch)
                    print('removed')
            except Exception as ex:
                print(ex)
                pass
    return patches

In [973]:
dd = get_holiday_patches()

11
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects
21
Can only compare identically-labeled DataFrame objects

In [969]:
dd[1]

,Consumption,Country,Date,Holiday,Name,Type,Details,Year,Date_,WeekDay
0,78694.789714,China,2019-01-25,0,NaN,NaN,NaN,NaN,NaN,Friday
1,101534.933857,China,2019-01-26,0,NaN,NaN,NaN,NaN,NaN,Saturday
2,63353.059429,China,2019-01-27,0,NaN,NaN,NaN,NaN,NaN,Sunday
3,47282.539143,China,2019-01-28,0,NaN,NaN,NaN,NaN,NaN,Monday
4,71660.132857,China,2019-01-29,0,NaN,NaN,NaN,NaN,NaN,Tuesday
5,59509.779429,China,2019-01-30,0,NaN,NaN,NaN,NaN,NaN,Wednesday
6,53665.418571,China,2019-01-31,0,NaN,NaN,NaN,NaN,NaN,Thursday
7,49625.982286,China,2019-02-01,0,NaN,NaN,NaN,NaN,NaN,Friday
8,27872.993429,China,2019-02-02,0,NaN,NaN,NaN,NaN,NaN,Saturday
9,89782.483286,China,2019-02-03,0,NaN,NaN,NaN,NaN,NaN,Sunday
10,101635.538714,China,2019-02-04,1,Spring Festival Eve,National holiday,NaN,2019.0,4 Feb,Monday
11,38203.364429,China,2019-02-05,1,Chinese New Year,National holiday,NaN,2019.0,5 Feb,Tuesday
12,61650.526000,China,2019-02-06,1,Spring Festival Golden Week holiday,National holiday,NaN,2019.0,6 Feb,Wednesday
13,60740.615000,China,2019-02-07,1,Spring Festival Golden Week holiday,National holiday,NaN,2019.0,7 Feb,Thursday
14,85395.799429,China,2019-02-08,1,Spring Festival Golden Week holiday,National holiday,NaN,2019.0,8 Feb,Friday
15,50929.263143,China,2019-02-09,1,Spring Festival Golden Week holiday,National holiday,NaN,2019.0,9 Feb,Saturday
16,32376.953857,China,2019-02-10,1,Spring Festival Golden Week holiday,National holiday,NaN,2019.0,10 Feb,Sunday
17,105089.436857,China,2019-02-11,0,NaN,NaN,NaN,NaN,NaN,Monday
18,61171.012857,China,2019-02-12,0,NaN,NaN,NaN,NaN,NaN,Tuesday
19,85692.235571,China,2019-02-13,0,NaN,NaN,NaN,NaN,NaN,Wednesday
20,96353.263857,China,2019-02-14,0,NaN,NaN,NaN,NaN,NaN,Thursday

In [971]:
dd[3]

,Consumption,Country,Date,Holiday,Name,Type,Details,Year,Date_,WeekDay
0,63353.059429,China,2019-01-27,0,NaN,NaN,NaN,NaN,NaN,Sunday
1,47282.539143,China,2019-01-28,0,NaN,NaN,NaN,NaN,NaN,Monday
2,71660.132857,China,2019-01-29,0,NaN,NaN,NaN,NaN,NaN,Tuesday
3,59509.779429,China,2019-01-30,0,NaN,NaN,NaN,NaN,NaN,Wednesday
4,53665.418571,China,2019-01-31,0,NaN,NaN,NaN,NaN,NaN,Thursday
5,49625.982286,China,2019-02-01,0,NaN,NaN,NaN,NaN,NaN,Friday
6,27872.993429,China,2019-02-02,0,NaN,NaN,NaN,NaN,NaN,Saturday
7,89782.483286,China,2019-02-03,0,NaN,NaN,NaN,NaN,NaN,Sunday
8,101635.538714,China,2019-02-04,1,Spring Festival Eve,National holiday,NaN,2019.0,4 Feb,Monday
9,38203.364429,China,2019-02-05,1,Chinese New Year,National holiday,NaN,2019.0,5 Feb,Tuesday
10,61650.526000,China,2019-02-06,1,Spring Festival Golden Week holiday,National holiday,NaN,2019.0,6 Feb,Wednesday
11,60740.615000,China,2019-02-07,1,Spring Festival Golden Week holiday,National holiday,NaN,2019.0,7 Feb,Thursday
12,85395.799429,China,2019-02-08,1,Spring Festival Golden Week holiday,National holiday,NaN,2019.0,8 Feb,Friday
13,50929.263143,China,2019-02-09,1,Spring Festival Golden Week holiday,National holiday,NaN,2019.0,9 Feb,Saturday
14,32376.953857,China,2019-02-10,1,Spring Festival Golden Week holiday,National holiday,NaN,2019.0,10 Feb,Sunday
15,105089.436857,China,2019-02-11,0,NaN,NaN,NaN,NaN,NaN,Monday
16,61171.012857,China,2019-02-12,0,NaN,NaN,NaN,NaN,NaN,Tuesday
17,85692.235571,China,2019-02-13,0,NaN,NaN,NaN,NaN,NaN,Wednesday
18,96353.263857,China,2019-02-14,0,NaN,NaN,NaN,NaN,NaN,Thursday
19,70647.303571,China,2019-02-15,0,NaN,NaN,NaN,NaN,NaN,Friday
20,84835.758714,China,2019-02-16,0,NaN,NaN,NaN,NaN,NaN,Saturday

In [888]:
dd.loc[34]

Consumption                 101636
Country                      China
Date           2019-02-04 00:00:00
Holiday                          1
Name           Spring Festival Eve
Type              National holiday
Details                        NaN
Year                          2019
Date_                        4 Feb
WeekDay                     Monday
Name: 34, dtype: object